################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/PrismaWEB.Application/bin/Debug
/PrismaWEB.Application/obj/Debug
/PrismaWEB.Domain/bin/Debug
/PrismaWEB.Domain/obj/Debug
/PrismaWEB.Infra.Data/bin/Debug
/PrismaWEB.Infra.Data/obj/Debug
/PrismaWEB.MVC/bin
/PrismaWEB.MVC/obj/Debug
/PrismaWEB.Infra.Data/PrismaWEB.Infra.Data.csproj.user
