
@{
    ViewBag.Title = "SemPermicao";
}

<div class="container-fluid">
    <div class="alert alert-danger" role="alert">
        <h2>Acesso negado</h2>
        <hr width="100%" size="1" color="silver">
        Você não tem permição para accesar esta pagina. <br />
        entre em contado com o administrador do sistema!
    </div>
</div>