<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/generico2.png" type="image/x-icon" />

    <title>@ViewBag.Title - My Genric Application</title>
    <!-- CSS -->
    @Styles.Render("~/bundles/css")

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
    @RenderBody()
</body>
</html>
