@using ProjetoModeloDDD.MVC.Html_Helpers

@{ ViewBag.Title = "Home Page"; }

<h1>Atenção</h1>

O hash no login esta criado mas como é chato mexer xom hash pq tem que ficar criando varios usuarios para tetar,
ele pode estar dando alguns erros.

Favor anotar esses erros e me repassar.

<h1 />
<h2>Novidades</h2>
Já está sendo possível criar um aplicativo novo no iis para conseguir acesssar o site sem precisar estar com o visual studio aberto.