<ul class="navbar-nav navbar-sidenav" id="nav-lateral">
    @* cadastro rapido *@
    <li id="nav-item-cadastro-rapido" class="nav-item" data-toggle="tooltip" data-placement="right" title="Cadastro Rápido">
        <a class="nav-link nav-link-collapse collapsed">
            <i class="fa fa-fw fas fa-plus"></i>
            <span class="nav-link-text">Cadastro Rápido</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pessoas">
        <a class="nav-link" href="@Url.Action("Index", "Pessoas")">
            <i class="fa fa-fw fas fa-users"></i>
            <span class="nav-link-text">Pessoas</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="~/Leis">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Leis</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Menu Levels</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
                <ul class="sidenav-third-level collapse" id="collapseMulti2">
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
