<ul class="navbar-nav" id="nav-superior">
    <!--Recolher menu lateral-->
    <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="~/Configuracoes">
            <i class="fas fa-cogs"></i>
            <span class="nav-link-text">Configurações</span>
        </a>
    </li>
</ul>

